/Cleaned/
/Abel (2010) EU15 Migration Flow Tables.ods
/birt.Rdata
/dRR.Rdata
/dVV.Rdata
/e0.Rdata
/emig.Rdata
/emm.Rdata
/ex.Rdata
/fert.Rdata
/imm.Rdata
/pop.Rdata
/proj.Rdata
/SWEfltper_1x1.Rdata
/SWEmltper_1x1.Rdata
