/Brouard1986.png
/DemoTime1.pdf
/DemoTime2.pdf
/DemoTime3.pdf
/gearhead.pdf
/Goldstein2015.png
/GrimReaper.pdf
/growingshort.pdf
/Henry1965.png
/hourglass.pdf
/hourglasslivedleft.pdf
/Japan1970.pdf
/Japan2010.pdf
/LeeScience.png
/popcompare.pdf
/Riffe2016.png
/Sanderson2005.png
/Sanderson2010.png
/Scale.pdf
/shrinkinglong.pdf
